.dishPage {
   position: relative;
   min-height: 85vh;
   background-repeat: repeat;
   background-color: #070707;
   background-position: top;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   background-attachment: none;

   @media screen and (min-width: 767.9px) {
     };
     @media screen and (min-width: 1200px) {
      background-attachment: fixed;
     };

}

.menuCardMobile {

   @media screen and (max-width: 767.9px) {
      width: 70px;
      height: 70px;
     };

}
.menuCardImage {
   @media screen and (max-width: 767.9px) {
      display: none;
     };
}
.dishPageContainer {
   padding: 0 10px;
  

      
   @media screen and (min-width: 767.9px) {
    padding: 0 120px;
   };
   @media screen and (min-width: 1200px) {
    padding: 0 250px;
   };
  }

.discriptionBox {
 display: flex;
 position: relative;
 justify-content: center;
 align-items: center;

}


.dishTitle {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 95px;
   
   font-size: 15px;
   margin: 0;
   color: #7c7c7c;
/* color: transparent; */
   @media screen and (min-width: 768px) {
     
   };
   @media screen and (min-width: 1200px) {
    
   };
}

.dishPageBox {
   display: grid;
   width: auto;
   height: auto;
   
  @media screen and (min-width: 767.9px) {
       
  };
  @media screen and (min-width: 1200px) {
    
  };
  }

.dishList {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 10px;
   border: none;
   padding: 10px;
   margin-bottom: 70px;
   background: #0000005a;
   border-radius: 19px;
   box-shadow:
   inset rgba(42, 41, 41, 0.471) -5px -5px 9px,
   inset #303030 5px 5px 9px,
   rgb(0, 0, 0) 3px 3px 8px -3px;
   z-index: 9;
      
   @media screen and (min-width: 767.9px) {
      padding: 15px;
   };

  @media screen and (min-width: 1200px) {
   padding: 20px;
   /* margin-bottom: 50px; */
  };
}



.dishListTitle {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 0 0 10px 0;
   color: #000000;
   color: #656565;
   font-size: 13px;

   @media screen and (min-width: 767.9px) {
      font-size: 15px;
     };
     @media screen and (min-width: 1200px) {
      font-size: 17px;
     };
}


.dishListItem {
   position: relative;
   display: flex; 
   padding-left: 3px;
   align-items: center;
   justify-content: space-between;
   height: 60px;
   margin-bottom: 17px;
    transition: all .3s ease-out; 
    border-radius: 15px;
    background-color: #010101;
    box-shadow:
    inset rgba(42, 41, 41, 0.471) -4px -4px 9px,
    inset #303030 4px 4px 9px,
    rgb(0, 0, 0) 3px 3px 8px -3px;
   

   @media screen and (min-width: 768px) {
      height: 65px;
      margin-bottom: 13px;
   };

   @media screen and (min-width: 1200px) {
      height: 70px;
      margin-bottom: 16px;
   };
 }

 .dishListItem:hover {
  
   transition: all .3s ease-out;
   scale: 1.02;
}


 .dishListItemInfo {
   display: flex;
   flex-direction: column;
   height: 60px;
}

.dishListItemInfo span {
   display: flex;
   align-items: center;
   justify-content: start;
 }


 .dishListItemName {
   display: flex;
   height: 20px;
 /* color: red; */
  
   @media screen and (min-width: 767.9px) {
      
   };
   @media screen and (min-width: 1200px) {
      
   };
}


.dishListItemNameDescription {
   display: flex;
   padding: 35px 0 0 10px;
   font-size: 11px;
   letter-spacing: .01px;
   color: #5e5e5e;

   @media screen and (max-width: 374.9px) {
      font-size: 9px;
      letter-spacing: .01px;
   };

   @media screen and (min-width: 767.9px) {
      font-size: 17px;
      padding: 35px 0 0 20px;
   };
   @media screen and (min-width: 1200px) {
      font-size: 19px;
      padding: 35px 0 0 20px;
   };
}

.dishListItemIngredients {
   display: flex;
   align-items: flex-start;
   font-size: 8px;
   letter-spacing: -0.1px;
   color: #6e432e;
   padding: 10px 0 0 10px;
   height: 40px;

   @media screen and (min-width: 767.9px) {
      font-size: 10px;
      padding: 12px 0 0 20px;
      letter-spacing: .1px;
   };
  
   @media screen and (min-width: 1200px) {
      font-size: 11px;
      padding: 15px 0 0 25px;
      letter-spacing: .2px;
   };
}

.dishListItemManagement {
   display: flex;
   align-items: center;
   /* background-color: #fff; */
 }

 .dishListItemWeigth {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 55px;
   margin: 0;
   padding: 0;
   font-size: 9px;
   color: #6e432e;
   border-left: 1px solid #1a1a1a;
   letter-spacing: -0.1px;

   @media screen and (min-width: 767.9px) {
      font-size: 15px;
      height: 65px;
      width: 70px;
   };

   @media screen and (min-width: 1200px) {
      font-size: 17px;
      height: 70px;
      width: 80px;
   };
}

 .dishTablePrice {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 50px;
   margin: 0;
   padding: 0;
   font-size: 11px;
   letter-spacing: -0.1px;
   color: #5e2000;
   border-left: 1px solid #1a1a1a;
    
   @media screen and (min-width: 767.9px) {
      font-size: 15px;
      height: 60px;
      width: 70px;
      border-left: 1px solid #1a1a1a;
   };

   @media screen and (min-width: 1200px) {
      font-size: 17px;
      height: 70px;
      width: 80px;
      border-left: 1px solid #1a1a1a;
   };
}
 


.dishListButtonAddBox {
   display: flex;
   align-items: center;
   justify-content: start;
   height: 60px;
   width: 45px;
   margin: 0;
   padding: 0;
   border-radius: 0 11px 11px 0;
   /* background-color: #fff; */

   @media screen and (min-width: 767.9px) {
      height: 65px;
   width: 65px;
   justify-content: center;
   border-left: 1px solid #1a1a1a;
   };

   @media screen and (min-width: 1200px) {
      height: 70px;
   width: 70px;
   justify-content: center;
   border-left: 1px solid #1a1a1a;
   };
}

.dishListButtonAdd {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   border: none;
   padding: 0;
   margin: 0;
   color: #7b7a7a;
   font-size: 15px;
   background: transparent;
   border-radius: 9px;
   scale: 1.02;

   @media screen and (min-width: 767.9px) {
      width: 40px;
      height: 40px;
   };

   @media screen and (min-width: 1200px) {
      width: 45px;
      height: 45px;
   };
}

.dishListButtonAdd:hover  {
   cursor: pointer;
 
}

.dishListButtonAdd added {
color: red;
}


.dishTablePrice100 {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 70px;
   margin: 0;
   padding: 0;
   right: 202px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;

    background-color: #45454520;
}

.dishTablePriceNotDelivery {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 100px;
   margin: 0;
   padding: 0;
   right: 0px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;
}

.dishTableWeigth100 {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 70px;
   margin: 0;
   padding: 0;
   right: 273px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;

   background-color: #45454520;
}

.dishTablePrice50 {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 70px;
   margin: 0;
   padding: 0;
   right: 344px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;
}

.dishTableWeigth50 {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 70px;
   margin: 0;
   padding: 0;
   right: 415px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;
}

.dishTableWeigthNotDelivery {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 100px;
   margin: 0;
   padding: 0;
   right: 101px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #39393969;
}





.basketIcon {
   fill: #303030;
  }
  
  .basketIcon.nonEmpty {
     fill: #c69c9cbb; /* Колір fill, коли корзина не пуста */
    
   }



     .toBasketButton {
      position: absolute;
      border: none;
      top: 20px;
      right: 20px; 
      display: flex;
      align-items: center;
      justify-content: end;
      /* height: 40px;
      width: 110px; */
      height: 60px;
         width: 150px;
      border: none;
      z-index: 9;
      border-radius: 11px;
      background-color: #000000;
          
      @media screen and (min-width: 767.9px) {
         height: 60px;
         width: 150px;
         /* top: 23px; */
         /* right: 68px;  */
      };

      @media screen and (min-width: 1200px) {
         height: 60px;
         width: 150px;
         /* top: 23px; */
         /* right: 68px;  */
      };
   }
   .toBasketLink {
      display: flex; 
      align-items: center;
      justify-content: start;
      height: 40px;
      width: 110px;
      border-radius: 11px;

      @media screen and (min-width: 767.9px) {
         height: 60px;
         width: 150px;
        
       };
       @media screen and (min-width: 1200px) {
         height: 60px;
            width: 150px;
        
       };
   }
   
   .toBasketDescription {
      margin: 0;
      padding: 0;
      font-size: 10px;
      padding-left: 5px;

      @media screen and (min-width: 767.9px) {
         font-size: 14px;
        
       };
       @media screen and (min-width: 1200px) {
         
         font-size: 14px;
       };
   }
   
   .toBasketButton:hover .toBasketDescription {
      color: #5e2000;
     }
   
   .basketIcon {
      position: absolute;
      right: 5px;
      top: 4px;
      fill: #3a3a3a;

      @media screen and (min-width: 767.9px) {
         /* font-size: 14px; */
         right: 13px;
         top: 12px;
       };
       @media screen and (min-width: 1200px) {
         right: 13px;
      top: 12px;
         /* font-size: 14px; */
       };
     }
     
     .basketIcon.nonEmpty {
        fill: #5e2000;
      }

      .basketBadge {
         position: absolute;
         right: 4px;
         top: 9px;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 12px;
         width: 12px;
         border-radius: 50%;
         color: #dbdbdb;
         background-color: #5e2000;
         font-size: 15px;
         z-index: 2;
         box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.808);

         @media screen and (min-width: 767.9px) {
           
            height: 15px;
         width: 15px;
            right: 11px;
            top: 16px;
          };
          @media screen and (min-width: 1200px) {
            right: 11px;
         top: 16px;
           
          };
        }

     .dishTableDay {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 0 10px 0;
      color: #000000;
      color: #656565;
      font-size: 13px;
   
      @media screen and (min-width: 767.9px) {
         font-size: 15px;
        };
        @media screen and (min-width: 1200px) {
         font-size: 17px;
        };
   }

   .dishTableNameFirst {
   color:green;
   }

   .dishTableWeigthFirst {
   color:green;
   }

   .dishTableNameSecond,
.dishTableWeigthSecond {
color: blue;
}

.dishTableSetMeals {
 display: grid;
 /* padding: 30px; */

 border-radius: 11px;
 /* background-color: rgba(167, 166, 166, 0.329); */
 
 /* height: 150px; */

 

}

.dishTableSetMealsItem {
 display: grid;
 position: relative;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 11px;
  width: 900px;
  height: 300px;
  padding-left: 15px;

  box-shadow: 7px 7px 15px 2px #00000047;
  background: #3232321f;
   border-radius: 19px;
   box-shadow:
   inset rgba(42, 41, 41, 0.471) -5px -5px 9px,
   inset #303030 5px 5px 9px,
   rgb(0, 0, 0) 3px 3px 8px -3px;
}



/* ===================== */

/* .toMenuButton {
   position: absolute;
   top: 21px;
   right: 90px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 60px;
   border: none;
   border-radius: 15px;
   background-color: #000000;
   border-radius: 13px;
   background-color: #000000;
   box-shadow:  -5px -5px 7px 3px #00000029;
    transition: all .3s ease-out;
  
  
  
   @media screen and (min-width: 767.9px) {
    
   };
   @media screen and (min-width: 1200px) {
     height: 60px;
   width: 150px;
    
   };
  } */

  .toMenuButton {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 21px;
   right: 20px; 
   height: 60px;
   width: 60px;
   border: none;
   z-index: 9;
   border-radius: 13px;
  
   box-shadow:  4px 4px 15px 4px #0000008b;
  
   background-color: #010101;
   transition: all .3s ease-out;
       
   @media screen and (min-width: 767.9px) {
      height: 60px;
      width: 150px;
      border-radius: 15px;
   };

   @media screen and (min-width: 1200px) {
      height: 60px;
      width: 150px;
      border-radius: 17px;
      right: 90px; 
   };
}
  
  .toMenuLink {
   display: flex; 
   align-items: flex-end;
   margin: 0;
   padding: 0;
   height: 60px;
   width: 60px;
   border-radius: 13px;
   box-shadow:
    inset rgba(42, 41, 41, 0.471) -4px -4px 9px,
    inset #303030 4px 4px 9px,
    rgb(0, 0, 0) 3px 3px 8px -3px;
  

   @media screen and (min-width: 767.9px) {
      height: 60px;
      width: 150px;
      border-radius: 15px;
    };
    @media screen and (min-width: 1200px) {
      height: 60px;
      width: 150px;
      border-radius: 17px;
    };
  }
  
  .toMenuDescription {
     /* position: absolute; */
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 10px;
   width: 100%;
   height: 100%;
   margin: 0;
   
   font-size: 7px;
   color: #5e2000;
   color: #3e3e3e;
   transition: all .3s ease-out;
   left: 0;
   
   @media screen and (min-width: 767.9px) {
      font-size: 14px;
      justify-content: start;
      align-items: center;
      padding-left: 20px;
      padding-bottom: 0px;
    };
    @media screen and (min-width: 1200px) {
      justify-content: start;
      align-items: center;
      font-size: 14px;
      padding-left: 20px;
      padding-bottom: 0px;
    };
  }
  
  .toMenuButton:hover .toMenuDescription {
   color: #5e5e5e;
   transition: all .4s ease-out;
  }
  

  .toMenuButton:hover {
   box-shadow:  2px 2px 15px 2px #0000005d;
   transition: all .4s ease-out;
   scale: 1.03;
  }
   
 
  .toMenuIcon {
     display: block;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 16px;
      top: 12px;
      fill: #3a3a3a;

      @media screen and (min-width: 767.9px) {
         right: 18px;
         top: 16px;
       };

       @media screen and (min-width: 1200px) {
        
       };
  }