.dishPage {
   position: relative;
   min-height: 85vh;
}

.dishPageContainer {
 display: grid;
 justify-content: center;
 /* overflow-y: scroll; */
}

.dishTitle {
   display: flex;
   justify-content: center;
   height: 75px;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   color: #7b7b7b;
   margin: 0;

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      
      font-size: 15px;
   };
}

/* .dishTableList {
margin-top: 10px;
} */

.dishTable {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  /* font-size: 15px; */
  border-radius: 9px;
  width: 900px;
  height: 60px;
  padding-left: 15px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
  /* background: #000000c3;
  background-color: #000000;
  background-attachment: fixed;
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png"); */
  /* box-shadow: 7px 7px 10px 2px #00000069; */
  /* background: #00000099; */
  box-shadow: 7px 7px 15px 2px #00000047;
}

.dishTableListTitle {
 display: flex;
 justify-content: center;
}

.dishTableList {
   /* position: relative; */
 padding: 15px 25px;
 border-radius: 9px;
 background: #b4b4b44a;
 margin: 35px 0;
}

.dishTableButtonAdd {
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: url('images/clockIcon.svg');
 background-position: center;
 background-repeat: no-repeat;
 height: 60px;
 width: 100px;
 margin: 0;
 padding: 0;
 right: 0;
 top: 0;
 border-radius: 0 9px 9px 0;
 border-left: 1px solid #000000;
}


.dishTableButtonAdd:hover  {
   border-left: 1px solid #290000;
   box-shadow: inset 0 0 23px 3px rgba(255, 0, 0, 0.228);
}
.dishTablePrice {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 100px;
   margin: 0;
   padding: 0;
   right: 101px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #000000;
}

.dishTableWeigth {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 100px;
   margin: 0;
   padding: 0;
   right: 202px;
   font-size: 15px;
   top: 0;
   border-left: 1px solid #000000;
}

.dishTableName {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: start;
   height: 60px;
   width: 100%;
   margin: 0;
   padding-left: 10px;
   left: 20px;
   bottom: 0px;
   font-size: 17px;
   color: #b5b5b5;
}

.dishTableIngredients {
   position: absolute;
   bottom: 5px;
   padding-left: 20px;
   font-size: 12px;
   color: #695759;
}

.dishTableType {
   position: absolute;
   top: 5px;
   /* padding-left: 10px; */
   font-size: 9px;
   color: #b5b5b5;
}

.toMenuLinkBox {
   position: absolute;
   border: none;
   border-radius: 30px;
   background: linear-gradient(0deg, #00000099, #00000099, #00000099, #00000099, #00000099, #00000003);
   background-attachment: fixed;
   background-position: top;
   
   top: 30px;
   left: 70px; 
}


.basketIcon {
   fill: #303030;
  }
  
  .basketIcon.nonEmpty {
     fill: #c69c9cbb; /* Колір fill, коли корзина не пуста */
    
   }

.basketBadge {
position: absolute;
right: 60px;
top: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 10px;
 width: 10px;
 border-radius: 50%;
 color: #ffffff;
 background-color: #000000;
 font-size: 11px;
 z-index: 2;
}

 
 .toBasketLinkBox {
   position: absolute;
   border: none;
   border-radius: 11px;
   background: #00000099;
   box-shadow: 7px 7px 15px 2px #00000047;
   top: 23px;
   right: 68px; 
   transition: 1.5s;
   z-index: 10;
   background-color: #000000;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
}

.toBasketLink {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
   width: 150px;
   border-radius: 9px;
}

.basketIcon {
   fill: #303030;
  }
  
  .basketIcon.nonEmpty {
     fill: #6f0000; /* Колір fill, коли корзина не пуста */
    
   }


   .basketBadge {
      position: absolute;
      right: 60px;
      top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      color: #d7d7d7;
      background-color: #000000;
      font-size: 11px;
      z-index: 2;
     }
