.contactsPage {
   width: 100%;
   min-height: 80vh;
   /* background-color: #fff; */
}

.contactsPageContainer {
 width: 100%;
 min-height: 80vh;
 
}

.contactsList {
 display: grid;

}

.contactsList li {
 display: flex;
 align-items: center;
 justify-content: center;
}

.contactsPageBox {
 padding: 0 20px;
}

.contactsPageTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #7b7a7a;
}

.fadeOut {
   opacity: 0; /* Початковий стан непрозорості */
   transition: opacity 1.5s ease-in-out; /* Плавний перехід непрозорості */
 }