.contactsPage {
   width: 100%;
   min-height: 80vh;
   /* background-color: #fff; */
}

.contactsPageContainer {
 width: 100%;
 min-height: 80vh;
 
}

.contactsPageBox {
 padding: 0 20px;
}

.contactsPageTitle {
   display: flex;
   justify-content: center;
   padding:  20px 0;
   margin: 0;
}

.fadeOut {
   opacity: 0; /* Початковий стан непрозорості */
   transition: opacity 1.5s ease-in-out; /* Плавний перехід непрозорості */
 }