.fadeOut {
   opacity: 0; 
   transition: opacity 1s ease-out;
 }

.contactsPageContainer {
width: 100%;
}

.contactsPage {
   width: 100%;
   background-position: bottom;
   background-repeat: repeat;
   background-color: #111111;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
  
      @media screen and (min-width: 768px) {
         
      };

         @media screen and (min-width: 1200px) {
            background-attachment: fixed;
         };
}

 .mapBox {
   position: relative;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   background:url("images/map444.png");
   background-size: 250%;
   background-position: center;
   height: 450px;
   z-index: 0;
   box-shadow: 0 0 20px 22px #00000064;
   margin-bottom: 30px;

   @media screen and (min-width: 768px) {
      height: 500px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   };
   @media screen and (min-width: 1200px) {
      height: 700px;
   };
}

.mapBox::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #0707074e;
   z-index: -1;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
}

.contactsListBox {
   display: flex;
   padding: 20px 20px;
   flex-direction: column;

   @media screen and (min-width: 767.9px) {
      display: grid;
      height: 450px;
      justify-content: center;
      align-items: center;
   };
   @media screen and (min-width: 1200px) {
      height: 550px;

   };
  }

 .contactsList {
   display: grid;
   grid-row-gap: 10px;
   min-width: 300px;
   padding-bottom: 10px;

   @media screen and (min-width: 767.9px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      min-width: 700px;
      padding: 0 30px;
   };

   @media screen and (min-width: 1200px) {
      grid-column-gap: 50px;
   };
  }

 .contactsListItem {
   display: flex;

   justify-content: space-between;
   align-items: center;
   height: 70px;
   width: 100%;
   color: #7b7b7b;
   font-size: 13px;
   border-radius: 11px;
   margin:  3px 0;
   border-radius: 13px;
   background-color: #050505;
   box-shadow:
    inset rgba(0, 0, 0, 0.772) -5px -5px 9px,
    inset #303030 5px 5px 9px,
    rgb(0, 0, 0) 3px 3px 8px -3px;
   /* box-shadow: 6px 6px 15px 2px #0000004f;
   background-color: #000000;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   background-color: #000000;
   background-image: url("https://www.transparenttextures.com/theme/images/transparent.png"); */
   
   @media screen and (min-width: 767.9px) {
      font-size: 13px;
      max-width: 450px;
   };

   @media screen and (min-width: 1200px) {
      font-size: 15px; 
      min-width: 500px;
   };
  }

.contactsListItem img {
   display: block;
   height: 30px;
   padding-left: 20px;

   @media screen and (min-width: 767.9px) {
      padding-left: 20px;

   };

   @media screen and (min-width: 1200px) {
   padding-left: 50px;

   };
}

.contactsListItemDiscriptions {
   padding-right: 20px;
   color: #414141;
 
   @media screen and (min-width: 767.9px) {
      padding-right: 20px;
     
   };
   @media screen and (min-width: 1200px) {
      padding-right: 50px;
     
   };
}
