.inMapButton {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   top: 390px;
   right: 20px; 
   height: 40px;
   width: 100px;
   border-radius: 11px;
   overflow: hidden;
   border: none;
   box-shadow:  4px 4px 15px 2px #00000078;
   background-color: #333333;
   background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
   transition: all .4s ease-out;
      
@media screen and (min-width: 767.9px) {
         top: 380px;
         right: 20px; 
         height: 60px;
         width: 150px;
      };

         @media screen and (min-width: 1200px) {
            top: 580px;
            right: 68px; 
            height: 60px;
            width: 150px;
         };
  }
  
.inMapLink {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   box-shadow:
    inset #000000b0 -5px -5px 9px,
    inset #7d7d7d93 5px 5px 9px; 
    
      @media screen and (min-width: 767.9px) {
         height: 60px;
         width: 150px;
      };

         @media screen and (min-width: 1200px) {
      
         };
  }
  
  .inMapDescription {
    margin: 0;
    /* padding: 0 3px 0 0 ; */
    font-size: 10px;
    transition: all .4s ease-out;
    color: #000000;
    font-weight: 900;

     @media screen and (min-width: 767.9px) {
      font-size: 13px;
      /* padding: 0 5px 0 0 ; */
   };

      @media screen and (min-width: 1200px) {
         font-size: 15px;
         /* padding: 0 10px 0 0 ; */
      };
  }
  
  .inMapButton:hover .inMapDescription {
  
   color: #c9c9c9;
       transition: all .4s ease-out;
  }

  .inMapButton:hover {
   scale: 1.02;
   transition: all .4s ease-out;
}
  