.fadeIn {
   opacity: 0; 
   /* transition: opacity .1s ease-in;  */
}

.menuPage {
   height: 100%;
   padding-top: 30px;
   background-color: #020202;
   background-position: bottom;
   background-attachment: fixed;
   background-repeat: repeat;
   background-color: #070707;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   
}


.menuPageContainer {
   width: 100%;
   padding-bottom: 50px;
}


.menuTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #7b7b7b;

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      font-size: 15px;
   };
}

.dishList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   padding: 0 30px;
   margin-bottom: 50px;


   @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      padding: 0 50px;
   }; 

   @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 70px;
      grid-row-gap: 70px;
      margin-top: 40px;
      padding: 0 70px;
   }; 
}

.basketIcon {
   fill: #7b7b7b;
   position: absolute;
   z-index: 1;

   /* @media screen and (min-width: 768px) {
    
   };
   @media screen and (min-width: 1200px) {
     
   }; */
}

.basketIcon {
fill: #1f1f1f;
}

/* .basketIcon.nonEmpty {
fill: #a66101; 

 } */



.dishCard {
   display: grid;
   align-content: flex-end;
   height: 150px;
   width: 100%;
   border: 1px solid black;
   border-radius: 11px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   transition: .1s;
   background-color: #000000;
   background-image: url(https://www.transparenttextures.com/patterns/white-wall-3-2.png);

   @media screen and (min-width: 768px) {
      height: 180px;
   }; 

   @media screen and (min-width: 1200px) {
      height: 200px;
      
   }; 
}

.dishCard:hover {
 border: 1px solid #6b4d00;
 transition: .1s;

}

/* .dishCard:hover .dishCardDescription {
   background: linear-gradient(0deg, #d3000e,#790008,#d3000e);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   transition: 1.3s;
} */

.dishCardImg {
 display: flex;
 width: 100%;
 justify-content: center;
 align-items: center;
 transition: .1s;
}

.dishCardImage {
 display: block;
 margin-bottom: 20px;
 height: 125px;
 width: 125px;
}

.dishCardDescription {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 100%;
   color: #3a3a3a;
}

/* .dishCard h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 100%;
   background: linear-gradient(0deg, #8e8e8e,#7c7c7c,#8e8e8e);
   background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

} */

.menuBasketInfoIcon {
 position: relative;
}

.toBasketButton {
   position: absolute;
   border: none;
   top: 124px;
   right: 68px; 
   display: flex;
   align-items: center;
   justify-content: end;
   height: 60px;
   width: 150px;
   border: none;
   border-radius: 11px;
   z-index: 10;
   /* border: 1px solid #000000; */
   transition: .1s;
}
.toBasketLink {
   display: flex; 
   align-items: center;
   justify-content: start;
   height: 60px;
   width: 150px;
   border-radius: 11px;
   background-color: #000000;
   background-image: url(https://www.transparenttextures.com/patterns/white-wall-3-2.png);
}

.toBasketDescription {
   margin: 0;
   padding: 0;
   font-size: 14px;
   padding-left: 15px;
}

.toBasketButton:hover .toBasketDescription {
   /* border: 1px solid #5900009f; */
   color: #6b4d00;
   transition: .1s;
  }

.basketIcon {
   position: absolute;
   right: 13px;
   top: 12px;
   fill: #3a3a3a;
  }
  
  .basketIcon.nonEmpty {
     fill: #590000;
     fill: #6b4d00;
   }


   .basketBadge {
      position: absolute;
      right: 11px;
      top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      color: #8c8c8c;
      background-color: #000000;
      font-size: 15px;
      z-index: 2;
     }



