.fadeIn {
   opacity: 0; 
   transition: opacity 1s ease-out; 
}

.menuPage {
   height: 100%;
   padding-top: 30px;
   background-color: #020202;
   background-position: bottom;
 
   background-repeat: repeat;
   background-color: #070707;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   
   @media screen and (min-width: 767.9px) {
      
   };
   @media screen and (min-width: 1200px) {
      background-attachment: fixed;
   };
}


.menuPageContainer {
   width: 100%;
   padding-bottom: 50px;
}


.menuTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #aaaaaa99;

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      font-size: 15px;
   };
}

.dishList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 15px;
   grid-row-gap: 15px;
   padding: 0 20px;
   margin-bottom: 50px;
   margin-top: 30px;


   @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding: 0 50px;
   }; 

   @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      margin-top: 40px;
      padding: 0 70px;
   }; 
}

.basketIcon {
   fill: #7b7b7b;
   position: absolute;
   z-index: 1;

   /* @media screen and (min-width: 768px) {
    
   };
   @media screen and (min-width: 1200px) {
     
   }; */
}

.basketIcon {
fill: #1f1f1f;
}

/* .basketIcon.nonEmpty {
fill: #a66101; 

 } */



.dishCard {
   display: flex;
   justify-content: center;
   height: 110px;
   width: 100%;
   border: 1px solid black;
   border-radius: 11px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   transition: .1s;
   box-shadow: inset 0px 0px 100px 7px #000000cc;

   @media screen and (min-width: 768px) {
      height: 180px;
   }; 

   @media screen and (min-width: 1200px) {
      height: 200px;
      
   }; 
}

.dishCard:hover {
 border: 1px solid #6b4d00;
 border: 1px solid #aaaaaa77;
 transition: .1s;
}

.dishCardLink {
 display: flex;
 width: 100%;
 justify-content: space-between;
 align-items: center;
 transition: .1s;
}

.dishCardImg {
display: flex;
width: 40%;
}
.dishCardImage {
 display: block;
 margin-left: 20px;
 height: 55px;
 width: 55px;
 /* background-color: #fff; */

 @media screen and (min-width: 768px) {
   
   height: 125px;
   width: 125px;
}; 

@media screen and (min-width: 1200px) {
   height: 125px;
 width: 125px;
   
}; 
}

.dishCardDescriptionBox {
display: grid;
width: 60%;

}

.dishCardDescription {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: no-wrap;
  
   margin: 0;
   color: #6b4d00;
   font-size: 10.5px;
   padding-left: 5px;

   @media screen and (min-width: 768px) {
   
    
   }; 
   
   @media screen and (min-width: 1200px) {
    
      
   }; 
}

/* .dishCard h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 100%;
   background: linear-gradient(0deg, #8e8e8e,#7c7c7c,#8e8e8e);
   background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

} */

.menuBasketInfoIcon {
 position: relative;
}

.toBasketButton {
   position: absolute;
   border: none;
   top: 78px;
   right: 20px; 
   display: flex;
   align-items: center;
   justify-content: end;
   height: 60px;
   width: 150px;
   border: none;
   border-radius: 11px;
   z-index: 10;
   /* border: 1px solid #000000; */
   transition: .1s;

   @media screen and (min-width: 768px) {
   
      top: 124px;
      right: 68px; 
   }; 
   
   @media screen and (min-width: 1200px) {
    
      top: 124px;
      right: 68px; 
   }; 
}
.toBasketLink {
   display: flex; 
   align-items: center;
   justify-content: start;
   height: 60px;
   width: 150px;
   border-radius: 11px;
   background-color: #000000;
   background-image: url(https://www.transparenttextures.com/patterns/white-wall-3-2.png);
}

.toBasketDescription {
   margin: 0;
   padding: 0;
   font-size: 14px;
   padding-left: 15px;
}

.toBasketButton:hover .toBasketDescription {
   /* border: 1px solid #5900009f; */
   color: #6b4d00;
   transition: .1s;
  }

.basketIcon {
   position: absolute;
   right: 13px;
   top: 12px;
   fill: #3a3a3a;
  }
  
  .basketIcon.nonEmpty {
     fill: #590000;
     fill: #6b4d00;
   }


   .basketBadge {
      position: absolute;
      right: 11px;
      top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      color: #8c8c8c;
      background-color: #000000;
      font-size: 15px;
      z-index: 2;
     }



