.fadeIn {
   opacity: 0; 
   transition: opacity 1.5s ease-in-out; 
}

.menuPage {
   height: 100%;
   padding-top: 30px;
 background-color: #050505;
 background-position: bottom;
 background-attachment: fixed;
 background-repeat: repeat;
 background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
 background-color: #111111;

}


.menuPageContainer {
   width: 100%;
   padding-bottom: 50px;
   /* background-position: bottom;
   background-attachment: fixed;
   background-repeat: repeat;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   background-color: #111111; */
   
}


.menuTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #7b7b7b;

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      
      font-size: 15px;
   };
}

.dishList {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   padding: 0 30px;
   margin-bottom: 50px;


   @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      padding: 0 50px;
   }; 

   @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 70px;
      grid-row-gap: 70px;
      margin-top: 40px;
      padding: 0 70px;
   }; 
}

.basketIcon {
   fill: #7b7b7b;
   position: absolute;
   z-index: 1;

   /* @media screen and (min-width: 768px) {
    
   };
   @media screen and (min-width: 1200px) {
     
   }; */
}

.basketIcon {
fill: #1f1f1f;
}

/* .basketIcon.nonEmpty {
fill: #a66101; 

 } */



.dishCard {
   height: 150px;
   width: 100%;
   border: 1px solid #000000;
   border-radius: 7px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   background-size: cover;
   transition: .7s;
   border: 1px solid #000000;
   box-shadow: 10px 10px 32px 2px rgba(0, 0, 0, 0.563);

   @media screen and (min-width: 768px) {
      height: 180px;
   }; 

   @media screen and (min-width: 1200px) {
      height: 210px;
   }; 
}

.dishCard:hover {
 border: 1px solid #3f0404;
 transition: .2s;
/* box-shadow: 0 0 11px 7px rgba(0, 0, 0, 0.512); */
}


.dishCardPizza {
   background-image: url("images/pizzas.jpeg");
   
}

.dishCardWines {
   background-image: url("images/wines.jpeg");
}

.dishCardBarbeque {
   background-image: url("images/bbq.jpg");
}

.dishCardSalads {
   background-image: url("images/salads.avif");
}

.dishCardBeer {
   background-image: url("images/beer.jpeg");
}

.dishCardHotDrinks {
background-image: url("images/hot-drinks.jpeg");
}



.dishCardLink {
   position: relative;
   display: block;
   height: 100%;
   width: 100%;
   background-color: #0e0e0e4d;
   /* color: #7c7c7c80; */
}

.dishCardLink h1 {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   color: #7b7b7b;
   /* border-radius: 0 0 9px 9px; */
   height: 30px;
   width: 100%;
   background: #000000b3;
   backdrop-filter: blur(2.7px);
   -webkit-backdrop-filter: blur(2.7px);
   margin: 0;
   padding: 0;
   bottom: 0;
   
}


.menuBasketInfoIcon {
 position: relative;
}


.toBasketLink {
   position: absolute;
   border: none;

   top: 125px;
   right: 68px; 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;
   width: 150px;
   z-index: 10;
   background-color: #000000;
   background-image: url("https://www.transparenttextures.com/patterns/white-wall-3-2.png");
   box-shadow: 7px 7px 15px 2px #00000047;
   border-radius: 11px;
}

.toBasketLinkBox:hover {
 transition: 1s;
 /* background-color: rgba(31, 3, 3, 0.583); */
 background: linear-gradient(0deg,#1f1c1c, #020202, #1f1c1c);
}

/* .menuBasketLink {
   position: absolute;
   right: 55px;
   top: 75px;
   display: grid;


   @media screen and (min-width: 768px) {
      top: 105px;
      right: 45px;
   };
   @media screen and (min-width: 1200px) {
     top: 135px;
     right: 65px;
   };
} */

.basketIcon {
   fill: #a72222;
   position: absolute;
   z-index: 1;

   /* @media screen and (min-width: 768px) {
    
   };
   @media screen and (min-width: 1200px) {
     
   }; */
}


.basketIcon {
   fill: #303030;
  }
  
  .basketIcon.nonEmpty {
     fill: #6f0000; /* Колір fill, коли корзина не пуста */
    
   }


   .basketBadge {
      position: absolute;
      right: 60px;
      top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      color: #d7d7d7;
      background-color: #000000;
      font-size: 11px;
      z-index: 2;
     }



