.basketContainer {
 width: 100%;
 min-height: 80vh;
 
}

.quantityBox {
 display: flex;
 width: 80px;
 align-items: center;
 justify-content: space-between;
}

.quantityBox span {
 display: flex;
 font-size: 15px;
}

.basketBox {
 padding: 0 10px;
}

.basketTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #7b7b7b;
   margin-bottom: 30px;

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      
      font-size: 15px;
   };
   
}

.basketDishTitle {
 display: flex;
 min-width: 220px;
 text-align: right;

}

.basketList {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 20px;
}

.basketListItem {
   position: relative;
   display: flex; 
   border-radius: 0 7px 7px 0;
   padding-left: 3px;
   height: 40px;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #7b7b7b39; 
}

.basketListItemPrice {
   position: absolute;
   right: 80px;
   padding: 0;
   margin: 0;
   display: flex;
   width: 60px;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   border-radius: 7px 0;
   height: 100%;
   border-left: 1px solid #7b7b7b39;
   color: #6f5000;
}
.basketListItemCounter {
   position: absolute;
   right: 0;
   height: 100%;
   display: flex;
   width: 80px;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
 /* background-color: rgb(96, 8, 8); */
 /* border-left: 1px solid #5d5c5c27; */

}

.basketMakeOrder {
 display: grid;
 justify-content: space-around;
 margin-top: 40px;
}

.basketListItemIncrease,
.basketListItemDecrease {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 25px;
 height: 100%;
 /* border-radius: 7px; */
 border: none;
 padding: 0;
 margin: 0;
 color: #7b7a7a;
 font-size: 17px;
}

.basketListItemIncrease {
   
   border-radius: 0 7px 7px 0;
 background: linear-gradient(90deg, #00000000,#ffffff28);
}

.basketListItemDecrease {
   border-radius: 7px 0 0 0px;
   background: linear-gradient(90deg, #ffffff28,#00000000);

}

.basketOrderInfo {
display: flex;
justify-content: center;
padding: 10px 0px;
text-align: right;
border-bottom: 1px solid rgba(154, 145, 145, 0.239);

}

.basketOrderInfo p {
 display: flex;
 width: 150px;
 justify-content: center;
 align-items: center;
 padding: 5px;
 border-radius: 0 0 7px 0;
 font-size: 10px;
 /* border-bottom: 1px solid #7b7b7b39; */
}

.basketTotalQuantity,
.basketTotalPrice {
   color: #836006;
   font-size: 12px;
   padding-left: 7px;
  /* background: linear-gradient(90deg, #00000000,#ffffff8d); */

}
.fades {
   opacity: 0; /* Початковий стан непрозорості */
   transition: opacity .7s ease-in-out; /* Плавний перехід непрозорості */
 }

 .toMenuLink {
   position: absolute;
   right: 30px;
   top: 75px;
   fill: #6f5000;

   @media screen and (min-width: 768px) {
      top: 105px;
      right: 45px;
   };
   @media screen and (min-width: 1200px) {
     top: 135px;
     right: 65px;
   };
}

.basketInputBox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  
}
 .basketInput {
   border: 1px solid black;
   border-radius: 7px;
   background: linear-gradient(0deg, #ffffff28,#00000000,#ffffff28);

   /* border: none; */
   height: 20px;
   background-color: transparent;
   color: var(--non-active-color);
   padding-left: 16px;
   width: 300px;
   height: 40px;
}

.basketInputHomeNumber {
   padding-left: 16px;
   width: 80px;
}

.basketInputAddressBox {
display: flex;
justify-content: space-between;
}

.basketInputStreet {
   width: 230px;
}

.basketInputNumber {
 width: 40px;
}

.buttonMakeOrder {
 display: flex;
 align-items: center;
 justify-content: center;
 color: #6f5000;
 text-transform: uppercase;
 height: 40px;
 width: 300px;
 margin: 30px 10px 50px;
 border: none;
 /* border: 1px solid var(--non-active-color); */
 border-radius: 7px;
 background: linear-gradient(0deg, #ffffff28,#00000000,#ffffff28);
box-shadow: 0 0 40px 15px rgba(255, 255, 255, 0.12);
}