
.basketContainer {
 width: 100%;
 min-height: 75vh;
}


.quantityBox {
 display: flex;
 width: 80px;
 align-items: center;
 justify-content: space-between;
}

.quantityBox span {
 display: flex;
 font-size: 15px;
}

.basketBox {
 margin: 0 10px;
 background-color: inherit;
}

.basketTitle {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
   font-size: 13px;
   font-weight: 900;
   margin: 0;
   color: #7b7b7b;
   margin-bottom: 50px;
   /* background-color: #000; */

   @media screen and (min-width: 768px) {
      height: 75px;
      font-size: 13px;
   };
   @media screen and (min-width: 1200px) {
      height: 95px;
      
      font-size: 15px;
   };
   
}

.basketDishTitle {
 display: flex;
 min-width: 220px;
 text-align: right;

}

.basketListBox {
 display: flex;
 width: 100%;
 height: auto;
justify-content: center;
align-items: center;
}
.basketList {
   /* display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 15px; */

   display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
    border: none;
    border-radius: 15px;
    padding: 20px;
    /* background: linear-gradient(0deg, black, rgb(41, 41, 41));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.489), #0b0b0bcb, #111111cb);
    background-attachment: fixed; */
}

.basketListItem {
   position: relative;
   display: flex; 
   padding-left: 3px;
   width: 900px;
   height: 50px;
   border-radius: 9px;
   align-items: center;
   justify-content: space-between;
   background: black;
   /* color: #000000; */
   background: linear-gradient(180deg, #282727cc, #282727bc, #000000ae);
    background-attachment: fixed;
   /* background: linear-gradient(0deg, #ffffff16,#00000000,#ffffff28); */

}

.basketListItemPrice {
   position: absolute;
   right: 0px;
   padding: 0;
   margin: 0;
   display: flex;
   width: 55px;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   height: 100%;
   border-left: 1px solid #7b7b7b39;
   color: #6f5000;
}
.basketListItemCounter {
   position: absolute;
   right: 55px;
   height: 100%;
   display: flex;
   width: 80px;
   justify-content: space-around;
   align-items: center;
   font-size: 14px;
   border-left: 1px solid #7b7b7b39;
}

.basketListItemName {
 padding-left: 20px;
 font-size: 15px;
 /* font-family: ; */
 /* font-family: 'PrimaryFont'; */
}

.basketMakeOrder {
 display: grid;
 justify-content: space-around;
 padding-top: 40px;
 /* background: linear-gradient(0deg, black, #1f1f1fcb); */
 /* background: linear-gradient(360deg, #0000007d, #0b0b0bcb, #111111cb); */

 /* background-attachment: fixed; */
}

.basketListItemIncrease,
.basketListItemDecrease {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 35px;
 height: 100%;
 border: none;
 padding: 0;
 margin: 0;
 color: #7b7a7a;
 font-size: 17px;
 background: transparent;
}

.basketOrderInfo {
display: flex;
justify-content: center;
padding: 10px 0px;
/* width: 900px; */
text-align: right;
/* border-bottom: 1px solid rgba(154, 145, 145, 0.239); */
}


.basketOrderInfo p {
 display: flex;
 width: 200px;
 height: 50px;
 justify-content: start;
 align-items: center;
 padding: 5px;
 font-size: 15px;
}

.basketQuantityBox {
 display: flex;
 /* width: 260px; */
 align-items: center;
 border-radius: 9px;
 background-color: rgb(0, 0, 0);
 /* border: 1px solid red; */
 margin: 20px;
 
}
.basketQuantityTitle,
.basketPriceTitle  {
   padding-left: 20px;
   padding-right: 20px;
   font-size: 16px;
   line-height: 17px;
   /* color: red; */
  }

.basketTotalQuantity,
.basketTotalPrice {
   color: #836006;
   font-size: 30px;
   padding-right: 20px;

   /* padding-left: 7px; */
   /* background-color: red; */
   /* padding-top: 5px; */
  /* background: linear-gradient(90deg, #00000000,#ffffff8d); */

}
.fades {
   opacity: 0; /* Початковий стан непрозорості */
   transition: opacity .7s ease-in-out; /* Плавний перехід непрозорості */
 }

 .toMenuLink {
   position: absolute;
   right: 30px;
   top: 75px;
   fill: #6f5000;

   @media screen and (min-width: 768px) {
      top: 105px;
      right: 45px;
   };
   @media screen and (min-width: 1200px) {
     top: 135px;
     right: 65px;
   };
}

.basketInputBox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 15px;
  padding: 15px 50px;
  /* border-color: #756565; */
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.489), #0b0b0bcb, #111111cb);
    background-attachment: fixed;
}
 .basketInput {
   /* border: 1px solid black; */
   /* border-bottom: 1px solid #7b7b7b39;  */
   /* background: linear-gradient(0deg, #ffffff16,#00000000,#ffffff28); */

   background-color: black;
   color: var(--non-active-color);
   padding-left: 16px;
   width: 300px;
   height: 50px;
   border: none;
   border-radius: 9px;
}

.basketInputHomeNumber {
   padding-left: 16px;
   width: 80px;
}

.basketInputAddressBox {
   display: flex;
   justify-content: space-between;
}

.basketInputStreet {
   width: 230px;
}

.basketInputNumber {
   width: 40px;
}

.buttonMakeOrder {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000000;
   /* text-transform: uppercase; */
   height: 40px;
   /* width: 200px; */
   margin: 30px 60px;
   border: none;
   border-radius: 9px;
   /* background: linear-gradient(0deg, #ffffff16,#00000000,#ffffff28); */
}

.emptyBasketMessage,
.orderDone {
   position: absolute;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 20px;
   justify-content: center;
   align-items: center;
   height: 480px;
   min-width: 93%;
   background-color: rgb(0, 0, 0);
   /* border: 1px solid #7b7b7b; */
   border-radius: 22px;
   top: 120px;
   left: 3.5%;
   z-index: 5;
   font-size: 17px;

   @media screen and (min-width: 768px) {
      top: 200px;
      /* max-width: 37%; */
   }
}

.emptyBasketMessage,
.orderDone {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.active {
color: red;
}

.inactive {
background-color: gray;
}

 .basketListBox {
 height: 100%;
 /* background-color: rgb(0, 0, 0); */
}