/* MainPage.module.css */
.mainContainer {
width: 100%;
height: 100vh;
}

.fadeOut {
  opacity: 0; /* Початковий стан непрозорості */
  transition: opacity 1.5s ease-in-out; /* Плавний перехід непрозорості */
}

.mainTopParagraph {
color: green;
}

 .hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: url("images/heroImg.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
  }

  .servicesBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   
  }



  .feature {
    display: grid;
    background-color: #fff;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    /* @media screen and (min-width: $tablet) {
      max-width: $tablet;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    @media screen and (min-width: $desktop) {
      max-width: $desktop;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 30px;
      padding-bottom: 94px;
    } */
  }

  .featuresItems {
   display: flex;
   text-align: end;
  }
  .featuresItem {
    display: flex;
    align-items:flex-end;
    justify-content: center;
  }

 