/* MainPage.module.css */
.mainPageContainer {
width: 100%;
/* min-height: 100vh; */

}

.fadeOut {
  opacity: 0; /* Початковий стан непрозорості */
  transition: opacity 1.5s ease-in-out; /* Плавний перехід непрозорості */
}

.mainTopParagraph,
.mainBottomParagraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 50px;
  font-size: 18px;
  text-align: center;
  line-height: 45px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 75px;
  }
}

.maindeliveryParagraph {
display: flex;
justify-content: center;
padding: 80px 40px;
font-size: 15px;
}




/* 
.heroBox {
  position: relative;
 background: rgba(0, 0, 0, 0.103);
 width: 100%;
 height: 300px;
 z-index: 1;
} */

 .hero {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: url("images/beer.jpeg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 115%;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    height: 300px;
    z-index: 0;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: 768px) {
      height: 400px;
    };
    @media screen and (min-width: 1200px) {
      height: 500px;
    };
  }

  



  

  .topDescriptionsBox {
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 50px 0;
   
  }

  .bottomDescriptionsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    
   padding: 55px 0;
   /* background-color: #00000033; */
   
  }
  
  .topDescriptions {
  display: flex;
  text-align: center;
  font-size: 22px;
  line-height: 55px;
  width: 700px;
  justify-content: center;
  }

  .bottomDescriptions {
    display: flex;
    font-size: 22px;
    line-height: 55px;
    width: 700px;
    text-align: center;
    justify-content: center;
    }

  .centerDescriptionsBox {
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 100px 0;
 /* background-color: rgb(46, 45, 45); */
 background: linear-gradient(0deg, #1414143f, black, black, black, #1414143f );
  }

  .centerDescriptions {
    display: flex;
  font-size: 22px;
  line-height: 55px;
  width: 700px;
  text-align: center;
  }


  .featuresTopBox {
   
    justify-content: center;
   display: flex;
   height: 550px;
   padding-top: 20px;
   justify-content: center;
   align-items: center;
   /* background-color: #0e0d0db8; */
   /* background: linear-gradient(0deg, #0e0d0db8, rgba(255, 0, 0, 0),#0e0d0db8); */
  }

 

.featuresTop  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  width: 900px;
  height: 450px;
  margin: 0;
  padding: 0;
 
}

  .featuresTop li {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 190px;
   width: 100%;
   padding: 90px auto;
    border-radius: 7px;
    background-image: url('images/bg233.jpg');
    background-size: 150%;
    background-position: left top ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }

  .featuresTop li h1 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 19px;
   color: rgb(162, 161, 161);
  
  }

  .featuresTopBlur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 100%;
    background: rgba(0, 0, 0, 0.387);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(35px);
   }
 

  .featuresCenterBox {
    display: flex;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    background-image: url('images/featuresBg2.jpg'); 
    background-size: 150%;
    background-attachment: fixed; 
  }

  .featuresCenter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 900px;
    height: 180px;
    
  }
  
  .featuresCenter li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 30px auto;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.548);
   }

   .featuresCenter li h3 {
    font-size: 22px;
    color: #c7c5c58d;
   }

   .featuresBottomBox {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(0deg,black, #161616be, #222222be, #282828be);
    background-attachment: fixed;  */
   }

 
  .featuresBottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    width: 900px;
    padding: 0 20px;
   }
  
  .featuresBottom li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    color: rgb(95, 95, 95);
    padding: 90px auto;
    border-radius: 9px;
    background: linear-gradient(180deg, rgb(48, 47, 47), black);
    background-attachment: fixed;
   }

 