.addsButton {
   /* position: relative; */
   display: flex;
   width: 50px;
   height: 50px;
   background: linear-gradient(#000000d3, #d01c1cc8, #000000d3);
   border: 1px solid #e0dada2b;
   margin: 0;
   border-radius: 0.8em;
   color: #ffffff51;
   align-items: center;
   justify-content: center;
   /* font-size: 17px; */
   text-transform: uppercase;
   font-weight: 100;
   transition: all ease-out 300ms;
}
.added {
   background: linear-gradient(#000000d3, #014905c8, #000000d3);
}
