/* Header.module.css */

.header {
  border-bottom: 1px solid #ececec64;
}

.headerBox {
   position: relative;
   display: inline-flex;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
   padding: 15px 10px;
   width: 100%;
   height: 40px;
   /* z-index: 1;  */

   @media screen and (min-width: 768px) {
    /* justify-content: space-around; */
    padding: 25px 20px;
     height: 60px;
   }
 
   @media screen and (min-width: 1200px) {
     height: 80px;
   }
 }




 .headerNav {
   display: flex;
   padding-left: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   justify-content: space-around;
   width: 100%;

   @media screen and (max-width: 767.9px) {
     display: none;
   }
 }

 .menuIcon {
  position: absolute;
  right: 25px;
   display: none; 
   fill: var(--non-active-color);
   
   @media screen and (max-width: 767.9px) {
     display: block; 
   }
 }

 .deliveryIcon {
  position: absolute;
  right: 70px;
  display: block; 
   /* display: none;  */
  
   
   @media screen and (min-width: 768px) {
     
   }
 }


.activeLink {
   color: var(--active-link-color); 
 }
 
 