.footer {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  background: linear-gradient(0deg, black, #181818);
}

.footerAllRights {
  display: flex;
  justify-content: center;
  color: #7b7a7a;
  margin-top: 30px;
}

.footerSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 17px;
}

.footerList {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footerList li{
  display: grid;
  justify-content: center;
  align-items: center;
}
  
