.footer {
  position: relative;
  display: flex;
  justify-content: center;

  height: 160px;
  width: 100%;

  border-top: 1px solid transparent;
  border-image: linear-gradient(0.25turn, #1a1a1a, #292929, #1a1a1a);
  border-image-slice: 1;

  box-shadow: 0 0 25px 10px #00000085;

background-color: #000000;
background-image: url("https://www.transparenttextures.com/theme/images/transparent.png");

@media screen and (min-width: 768px) {
    height: 170px;
  };

  @media screen and (min-width: 1200px) {
    height: 210px;
  }
}
  

.footerContainer {
  width: 100%;
  /* background: linear-gradient(0deg, #00000033,#00000077); */
}


.footerBox {
 padding: 40px 0 0;
 height: 160px;
 
}
.footerLogo {
  position: relative;
 margin: 0;
 display: flex;
 justify-content: center;
}

/* .bottomLineLogo {
  position: absolute;
  display: flex;
  height: 5px;
  width: 195px;
  top: 34px;
  left: 2px;
  background-image: url("images/bottomLineLogo.svg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: center;
  border-image-slice: 1;
} */

.footerAllRights {
  display: flex;
  justify-content: center;
  color: #3c3c3c;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.footerSocial {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}



.footerSocial li img {
  height: 22px;
  /* border-radius: 50%; */
}

.footerSocial li {
  margin: 0 15px;
}


.footerList {
  display: grid;
  justify-content: center;
  align-items: center;
}

.footerList li{
  display: grid;
  justify-content: center;
  align-items: center;
  
}

.logoFooter {
 margin-top: 50px;
}
  