/* index.css */
@import-normalize; /* bring in normalize.css styles */

:root {
  /* colors */
    --white-color: #ffffff6a;
    --mobile-color: #8702028a;
    --tablet-color: #0080006f;
    --desktop-color: #02318790; 
    --background-color: #0c0c0c;
    --main-text-color: #069;
    --secondary-text-color: #073;
    --hover-text-color: red;
    --accent-text-color: #944;
    --master-container-bg-color: #2d2c2c63;
    --mobile-background-color: #14090927;
    --tablet-background-color: #0077344e;
    --desktop-background-color: #00669952;
/* fonts */
    --primary-font: 'TypeyMctypeface';
    --secondary-font: 'TypeyMctypeface';
/* breakpoints */
    --mobile: 480px;
    --mobile-max: 767.9px;
    --tablet: 768px;
    --tablet-max: 1199.9px;
    --desktop: 1200px;
}


* {
  list-style-type: none;
  text-decoration: none;
  text-align: justify;
}

ul {
padding: 0;
margin: 0;
}

body, html {
  height: 100%;
}

a {
color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TypeyMctypeface';
  background: var(--background-color);
  color: var(--main-text-color);
}


.content {
  flex: 1;
}


@font-face {
  font-family: 'TypeyMctypeface';
  src: url(./data/fonts/McTypeface/Mctypeface.ttf) format('truetype');
}

@font-face {
  font-family: PrimaryFont;
  src: url(./data/fonts/BakyPrimaryFont.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
